.jumbotron.search-bar {
    background-color: black;
}

.title {
    color: white;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    text-align: center;
}

input.form-input {
    width: 45%;
    text-align: center;
    height: 40px;
}
