* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

#root > div > div {
    background: beige;
}

.jumbotron.search-bar {
    background-color: black;
    text-align: center;
}

.title {
    color: white;
    text-align: center;
}

.form-group {
    display: flex;
    justify-content: center;
    text-align: center;
}

input.form-input {
    width: 45%;
    text-align: center;
    height: 40px;
}

.employee-card {
    display: inline-block;
    margin-bottom: 30px;
    width: 33%;
    text-align: center;
}

h3 {
    font-size: 2vw;
}

h4 {
    font-size: 4vw;
}
